/* style sheet */

.table {
    margin: 25;
    width: 100%;
    background-color: bisque;
    table-layout: fixed;
    border: 2px solid black;
    border-radius: 25px;
    border-collapse: separate; 
    border-spacing: 0;         
    overflow: hidden;
}

.th, .td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid black;
}

.button {
    margin-bottom: 25px;
    color: white;
    padding: 10px 32px;
    font-size: 16px;
    background-color: #d40f0f;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid black;
}

/* ticket ID header and cells fixed width */
.th:nth-child(1),
.td:nth-child(1) {
    width: 10%;
}

/* Issue header and cells fixed width */
.th:nth-child(2),
.td:nth-child(2) {
    width: 50%;
    word-break: break-word;
    overflow-wrap: break-word;
}
    
.th:nth-child(3),
.td:nth-child(3) {
    width: 15%;
}

.body {
    Margin: 25px;
}

.popup {
    /* display: none; */
    position: fixed;                     /*centers*/
    top: 25%;                           /*the*/
    left: 50%;                         /*popup*/
    transform: translate(-50%, -50%); /*onscreen*/
    -ms-transform: translate(-50%,-50%);
    background-color: white;
    padding: 30px;
    border: 2px solid black;
    border-radius: 25px;
    z-index: 1000;              /*makes sure popup is on top*/
    text-align: center;
}

.submitbutton {
    color: white;
    padding: 5px 15px;
    font-size: 16px;
    background-color: #d40f0f;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid black;
}

.submitbutton:active {
    background-color: #920d0d;
}

.cancelbutton {
    color: white;
    padding: 5px 15px;
    font-size: 16px;
    background-color: #d40f0f;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid black;
    
}

.cancelbutton:active {
    background-color: #920d0d;
}

.input {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
    resize: vertical;
    box-sizing: border-box; /* ensures padding doesn't affect total width */
}

.modal {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 900;
}
